body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}


.b {
  float: right;
  margin-right: 500px;

}

.a {
  margin-left: 500px;
}

.d {
  float:left;
}

.e {
  float:left;
  margin-left: 500px;
}

.f {
  display: inline-block;
  width: 400px;
}

.g {
  display: inline-block;
  width: 400px;
}

.h {
  padding-top: 50px;
}

.i {
  padding-top: 50px;
}